@using MyTasks.Localization.Desktop
@using MyTasks.Web.Security

<!DOCTYPE html>
<html lang="en">
<head>
   
</head>



<body>
   
    <section id="container" class="">
     
        @RenderBody()
    </section>
   
   
</body>
</html>
