@using MyTasks.Localization.Desktop
@{
    ViewBag.Title = @Desktop.ResendPassword;
}

<div style="margin-top: 20px" class="well bs-component">
    <div class="form-horizontal">
        <div class="form-group">
            <span>@Desktop.PasswordSuccessfullySent.</span>
            @Html.ActionLink(Desktop.BackToList, "Index", "UsersAdmin", null, new { @style = "vertical-align: bottom;" })

        </div>
    </div>
</div>
    

