@using MyTasks.Localization.Desktop
@model IEnumerable<MyTasks.Domain.Dbversion>

@{
    Layout = "~/Views/Shared/_EmptyLayout.cshtml";
    ViewBag.Title = Desktop.MyTasksInstallation;
}

<form action="" method="post">
    <div style="margin-top: 20px" class="well bs-component">
        <div class="row">
            <div class="col-lg-3">
                <input type="submit" class="btn btn-success" value="Create and install Db" name="action:CreateInstallDatabase" /> @*@Desktop.CreateAndInstallDb*@
            </div>
            <div class="col-lg-3">
                <input type="submit" class="btn btn-success" value="Install Db" name="action:InstallDatabase" /> @*@Desktop.InstallDb*@
            </div>
            <div class="col-lg-3">
                <input type="submit" class="btn btn-success" value="Create demo" name="action:CreateDemo" /> @*@Desktop.CreateDemo*@
            </div>
        </div>
        <br />
        @if (ViewBag.ShowUpdateMessage)
        {
            <div class="row">
                @if (ViewBag.IsSucceed)
                {
                    <div class="alert alert-success" role="alert">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        @ViewBag.ResultMessage
                    </div>
                }
                else
                {
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        @ViewBag.ResultMessage
                    </div>
                }
            </div>
        }
    </div>
</form>
    



