@using RazorEngine.Text
<section id="" style="margin-top: 100px;margin-left: 20px;margin-right: 20px">
    <p> Dear @Model.FullName</p>
    <br />
    <p>
        @Model.BodyContent <a href='@Model.resetPasswordUrl'> here</a>  
    </p>
    <br />
    <p>
        Best regards
        <br />
        BigLamp - MyTasks team
    </p>
    <p>
        @Model.AdviceToReply
    </p>
</section>
