@using RazorEngine.Text
<section id="" style="margin-top: 100px;margin-left: 20px;margin-right: 20px">
    <p> Hola @Model.FullName</p>
    <br />
    <p>
        @Model.bodyContent
    </p>
    <br />
    <p>
        Saludos
        <br />
        Equipo MyTasks
    </p>
    <p>
        @Model.AdviceToReply
    </p>
</section>
