@using MyTasks.Localization.Desktop
@{
    Layout = "~/Views/Account/_LoginLayout.cshtml";
    ViewBag.Title = Desktop.ForgotPasswordConfirmation;
}

<div class="container">
    <div class="Absolute-Center is-Responsive">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <div class="login-form">
                <div class="login-wrap">
                    <div class="input-group">
                        <span>@Desktop.CheckYourMailMessage</span>
                    </div>
                </div>    
            </div>
            
        </div>
    </div>
</div>
